@media (max-width: 1300px) {
    .home {
        height: 1400px;
    }

    .price {
        display: none;
    }

    .container-countries .container-img {
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .nav-menu {
        display: none;
    }

    .toogle_btn {
        display: block;
    }

    .service,
    .tecnology,
    .price {
        height: 110vh;
    }
}

@media (max-width: 785px) {

    .service {
        height: 160vh;
    }

    .tecnology {
        height: 140vh;
    }

    .container-service,
    .container-tecnology,
    .container-countries {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-service .container-text,
    .container-tecnology .container-text{
        padding: 4rem 0;
        width: 100%;
    }

    .container-countries .container-text {
        padding-top: 2rem;
        width: 100%;
    }

    .container-tecnology .container-img {
        padding-top: 1rem;
        width: 100%;
    }

    .container-img {
        padding: 4rem 0;
        width: 100%;
    }

}

@media (max-width: 640px) {
    .home {
        height: 1900px;
    }

    .container-home {
        height: 1200px;
    }

    .container-tecnology .container-text .cta-btn a {
        padding: 15px 45px;
    }
}